header {
  position: sticky;
  z-index: 5;
  top: 0;
  background-color: var(--headerBackground);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: var(--headerHeight);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.currentTitle {
  font-size: 1.2rem;
}
.menu {
  display: flex;
  align-items: center;
}
.leftHeader {
  display: flex;
  align-items: center;
  gap: var(--headerGap);
  margin-left: var(--cornerMargin);
}
.rightHeader {
  display: flex;
  align-items: center;
  gap: var(--headerGap);
  margin-right: var(--cornerMargin);
}
.menu svg,
.search svg,
.date svg {
  pointer-events: none;
  color: var(--primaryAccent);
  pointer-events: none;
  width: var(--textIcons);
  height: auto;
}
.menu:hover svg,
.search:hover svg,
.date:hover svg {
  color: var(--hoverAccent);
}
