:root {
  --primaryAccent: #973f3b;
  --hoverAccent: color-mix(in srgb, var(--primaryAccent), black 30%);
  --cornerMargin: 1rem;
  --cornerRadius: 0.3rem;
  /* header */
  --headerBackground: #2a2826;
  --headerHeight: 4rem;
  --headerGap: 1rem;
  /* nav */
  --navBackground: #25221f;
  /* main */
  --mainBackground: #1e1c1a;
  --todoBackground: #2c2a27;
  --todoDate: #6e6c6a;
  --todoDesc: #92908f;
  --todoNoDesc: #5a5856;
  /* main dialog */
  --dialogTextColor: #92908f;
  --dialogBackground: #25221fff;
  --inputBackground: #3a3835;
  --dialogWarn: #bc4545;
  /* text */
  font-family: "Literata", "Times New Roman", Times, serif;
  --mainTextColor: #f5f2ec;
  color: var(--mainTextColor);
  font-size: 1.2rem;
  /* icons */
  --standaloneIcons: 1.5rem;
  --textIcons: 1.5em;
}
* {
  -webkit-tap-highlight-color: transparent;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
body.noScroll {
  /* overflow: hidden; */
}
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
nav.transition,
.overlay.transition,
main.transition,
header.transition {
  transition: transform 0.3s ease;
}
button {
  color: var(--mainTextColor);
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}
.notesSectionContainer,
.statisticsSectionContainer,
.settingsSectionContainer {
  display: none;
}
