:root {
  --primaryAccent: #973f3b;
  --hoverAccent: #812424;
  --cornerMargin: 1rem;
  /* header */
  --headerBackground: #2a2826;
  --headerHeight: 4rem;
  --headerGap: 1rem;
  /* nav */
  --navBackground: #25221f;
  /* main */
  --mainBackground: #1e1c1a;
  /* main dialog */
  --dialogTextColor: #92908f;
  --dialogBackground: #25221f;
  --inputBackground: #161616;
  /* text */
  font-family: "Literata", "Times New Roman", Times, serif;
  --mainTextColor: #f5f2ec;
  color: var(--mainTextColor);
  font-size: 1.2rem;
  /* icons */
  --standaloneIcons: 1.5rem;
  --textIcons: 1.5em;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
body.noScroll {
  overflow: hidden;
}
nav.transition,
.overlay.transition,
main.transition,
header.transition {
  transition: transform 0.3s ease;
}
button {
  color: var(--mainTextColor);
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}
