main {
  background-color: var(--mainBackground);
  flex: 1;
  position: relative;
}
.add svg {
  color: var(--primaryAccent);
  pointer-events: none;
  width: 3.5rem;
  height: auto;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.add {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  z-index: 99;
}
.addDialog {
  background-color: var(--dialogBackground);
  border: none;
  border-radius: var(--cornerRadius);
  padding: 1.5rem;
  max-width: 90vw;
  width: 24rem;
}
.addForm {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: relative;
}
.closeDialog {
  width: 1.5rem;
  height: auto;
  color: var(--primaryAccent);
  position: absolute;
  top: 0rem;
  right: 0rem;
}
dialog form h2 {
  font-family: "Cormorant Garamond", "Times New Roman", Times, serif;
  color: var(--mainTextColor);
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 0.5rem;
}
.newOptions {
  background-color: var(--inputBackground);
  padding: 0.2rem;
  border-radius: 0.3rem;
}
.optionButton {
  font-size: 0.75rem;
  color: var(--dialogTextColor);
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
}
.submitButton {
  font-family: "Cormorant Garamond", "Times New Roman", Times, serif;
  color: var(--mainTextColor);
  font-size: 1.5rem;
  font-weight: bold;
  padding: 0.5rem 0.2rem;
  border-radius: 0.3rem;
  background-color: var(--primaryAccent);
}

.inputContainer {
  display: flex;
  flex-direction: column;
}
.inputContainer input,
textarea {
  background-color: var(--inputBackground);
  border: var(--primaryAccent) 1px solid;
  padding: 0.2rem;
  border-radius: 0.3rem;
  color: var(--mainTextColor);
}
.inputContainer input:focus,
textarea:focus {
  border: var(--hoverAccent) 1px solid;
  outline: none;
}
.inputContainer input::placeholder,
textarea::placeholder {
  opacity: 1;
  color: var(--dialogTextColor);
}

.activeButton {
  background-color: var(--primaryAccent);
  color: var(--mainTextColor);
}
dialog[open] {
  animation: dialogOpen 0.3s ease-out forwards;
}
.contextMenu {
  background-color: var(--navBackground);
  padding: 1rem 0.5rem;
  display: none;
  flex-direction: column;
  gap: 1rem;
  position: fixed;
  z-index: 101;
  border-radius: var(--cornerRadius);
}
.editCont,
.deleteCont,
.infoCont {
  display: flex;
  gap: 0.5rem;
}
.editCont span,
.deleteCont span,
.infoCont span {
  color: var(--primaryAccent);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.2rem;
  height: 1.2rem;
  flex-shrink: 0;
}
.add.hidden {
  display: none;
}
@keyframes dialogOpen {
  from {
    opacity: 0;
    transform: scale(0.95) translateY(-3rem);
  }
  to {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
}
