/* .categoryContent {
  display: none;
  flex-direction: column;
  gap: 1rem;
}
.categoryTitleContainer {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}
.categoryTitleContainer label {
  color: var(--dialogTextColor);
  font-size: 0.75rem;
}
.categoryTitleSubcontainer {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
.categoryErrorField {
  color: red;
  opacity: 0.5;
  font-size: 0.65rem;
  display: none;
}
#colorLabel {
  color: var(--dialogTextColor);
  font-size: 0.75rem;
}
.colorOptions {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
}
.colorButton {
  width: 1.4rem;
  height: 1.4rem;
  border-radius: 50%;
  transition: outline-offset 0.15s;
}
.selectedColor {
  outline: 2px solid var(--mainTextColor);
  outline-offset: 2px;
}
.redColor {
  background-color: rgb(151 63 59);
}
.greenColor {
  background-color: rgb(74 122 59);
}
.blueColor {
  background-color: rgb(59 90 151);
}
.yellowColor {
  background-color: rgb(151 122 59);
}
.pinkColor {
  background-color: rgb(151 59 106);
}
.purpleColor {
  background-color: rgb(90 59 151);
}
.tealColor {
  background-color: rgb(59 122 106);
}
.orangeColor {
  background-color: rgb(151 96 59);
} */
